<mat-toolbar color='accent' class="mat-elevation-z2">
  <span style="margin: auto;">Billing Cart</span>
</mat-toolbar>
<div>
  <table mat-table [dataSource]="cartItems" class="mat-elevation-z2">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Item </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)='increaseQuantity(element)'>
          <mat-icon>add_circle_outline</mat-icon>
        </button> {{element.quantity}} <button mat-icon-button (click)='decreaseQuantity(element)'>
          <mat-icon>remove_circle_outline</mat-icon>
        </button></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price * element.quantity |currency:'INR'}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Remove </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button>
          <mat-icon (click)=' removeFromCart(element)'>delete</mat-icon>
        </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-toolbar color='accent' class="mat-elevation-z2">
  <span style="margin: auto;">Total Price : INR {{totalPrice|currency:'INR'}}</span>
</mat-toolbar>
<button [disabled]='cartItems.length < 1' mat-button style="width: 100%; margin-top: 10px" mat-raised-button
  color="primary" (click)='printBill()'>Print Bill</button>
<button [disabled]='cartItems.length < 1' mat-button style="width: 100%; margin-top: 10px" mat-raised-button
  color="warn" (click)='clearBill()'>Clear</button>
